<?xml version='1.0' encoding='utf-8'?>
<widget id="com.career.wrap.cricket.worldcup" version="0.0.4" android-versionCode="4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Worldcup Cricket 2015</name>
    <description>
        Mobile App for Cricket WorldCup 2015 
    </description>
    <author email="careerwrap@gmail.com" href="http://careerwrap.com">
        Career Wrap Team
    </author>
	<platform name="android">
		<icon src="res/android/cwc_ldpi.png" density="ldpi" />
        <icon src="res/android/cwc_mdpi.png" density="mdpi" />
        <icon src="res/android/cwc_hdpi.png" density="hdpi" />
        <icon src="res/android/cwc_xhdpi.png" density="xhdpi" />
    </platform>	
    <content src="index.html" />
    <access origin="*" />
</widget>
