<div id="main" class="nav-section ui-page-active" data-role="page">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">Pool A</h3>
	  </div>
	  <div class="panel-body">
		Panel content
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h3 class="panel-title">Pool B</h3>
	  </div>
	  <div class="panel-body">
		Panel content
	  </div>
	</div>
	<div class="alert alert-info" role="alert">
		  <span class="badge badge-info">Page Loaded {{data}}</span>
	</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
	<ul class="nav nav-pills">
		<li><a href="#stats" class="nav_link"><span class="glyphicon glyphicon-home"></span>Stats</a></li>
		<li><a href="#result" class="nav_link">Result</a></li>
		<li><a href="#fixtures" class="nav_link">Fixtures</a></li>
		<li><a href="#points" class="nav_link active"><span class="glyphicon glyphicon-th"></span>Points</a></li>
	</ul>		
  </div>
</nav>
