<div class="tip">
	<input type="hidden" id="sequence" ng-model="index"/></input>
	<h4 id="tip-title" class="tip-head"><span ng-bind-html="tip.title"></span></h4>
	<!--span class="article-date">{{article.publishedDate |  toLongDate}}</span--> 
	<pre class="tip-content" ng-bind-html="tip.content" ></pre>
</div>	
<!--ul class="nav navbar-nav navbar-right">
	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul-->




