/* Global Styling */
body, h1, h2, h3, h4, h5, h6  {
    font-family: Helvetica, Arial, sans-serif!important;
}

/* Head Style */
h3 {	
	font-size : 18px;
	text-decoration : bold;
}

/* Header Icon */
.app-logo {
  height : 40px;
  padding-right : 5px;
  margin : auto;
  margin : 5px;
}

.app-head , .menu-icon {
	padding-left : 5px;
	padding-top : 10px;
	padding-bottom : 5px;
	margin : auto;
}

.app-head {
	text-align : center;
}

/* Main Div Styling */
.content, .menu {
  padding: 50px 0 0 0;
}

.content {
	margin-bottom : 50px;
	height : 100%;
	overflow : auto;
}

snap-content  {
  background-color: #fff;
  border-left: 1px solid #ccc;
}

snap-drawer  {
  background-color: #d9edf7;
}

/* Align Nav Section */
.nav-section {
	margin : auto;
	text-align : center;
}

.alert {
	margin-left: 20px;
	margin-right: 20px;
}

/* List group item */
.list-group {
  margin-top : 20px;
}

.list-group-item {
  padding-top : 10px;
  padding-bottom : 10px;
}

.list-group-item {
  padding-top : 10px;
  padding-bottom : 10px;
}

.list-group-item-heading {
	font-size : 18px;
}

.list-group-item-text {
	font-size : 16px;
}

/* Article Styling */
.tip-list, .tip  {
	margin : 3px;
}

#tip-snippet {
	display: table-cell;
    width: 90%;
	vertical-align: top;	
}

.nav_link  {
	font-size : 16px;
	font-weight: bold;
	color : #0376B0;
}

.cat_link  {
	font-size : 16px;
	font-weight: bold;
	color : #0376B0;
	text-decoration : none;
}

.tip-head {
	font-size : 20px;
	padding-left : 5px;
}

.tip-content {
	font-size : 16px;
	padding : 5px;
}

#share_link {
  position : absolute;
  right : 10px;
  top : 10px;
}

.share {
	display : none;
} 

.footer_link  {
	width :24%;
}

.points  thead tr th {
	text-align : center;
} 

.panel-title  {
	text-align : center;
	font-weight : bold;
} 


#spinner {
	height:100%;
	text-align : center;
	vertical-align : center;
}

#main {
	margin-bottom : 25px;
}
